@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.content {
    margin-top: 100px; /* Adjust based on navbar height */
    padding: 20px;
    text-align: left;
}

h1.main{
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: bold;
}

p.main{
    font-family: 'Poppins';
    font-weight: light;
    font-size: 20px;
    margin: 0;
}

li.main p.sub-main{
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 18px;
    margin-top: 0.2%;
    margin-bottom: 0.5%;
}

li.main{
    font-size: 22px;
    margin-bottom: 1%;
    font-weight: 600;
}

li.main ul.sub-main{
    font-weight: normal;
    font-size: 18px;
}

.e-waste-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.e-waste-image {
    width: 15%; /* Adjust size as needed */
    height: auto;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
}
